/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.comboBoxStyle1 {
	-fx-font-size: 12.0pt;
}

.comboBoxStyle2 {
	-fx-font-size: 12.0pt;
	-fx-min-width: 200.0pt;
}

.textFieldStyle1 {
	-fx-font-size: 12.0pt;
}

.textFieldStyle2 {
	-fx-font-size: 12.0pt;
	-fx-min-width: 50.0pt;
	-fx-max-width: 50.0pt;
	-fx-alignment: center;
}

.textFieldStyle3 {
	-fx-font-size: 12.0pt;
	-fx-min-width: 200.0pt;
}

.listViewStyle1 {
	-fx-font-size: 12.0pt;
}

.buttonStyle1 {
	-fx-font-size: 12.0pt;
}

.buttonStyle2 {
	-fx-font-size: 12.0pt;
	-fx-background-color: transparent;
}

.buttonStyle3 {
	-fx-font-size: 20.0pt;
	-fx-background-color: transparent;
}

.labelStyle1 {
	-fx-font-size: 12.0pt;
}

.labelStyle2 {
	-fx-font-size: 14.0pt;
	-fx-font-weight: bold;
}

.labelStyle3 {
	-fx-font-size: 12.0pt;
	-fx-min-height: 35.0pt; 
}

.menuBarStyle1 {
	-fx-font-size: 12.0pt;
}

.listViewStyle1 {
	-fx-selection-bar: #95aec9;
	-fx-font-size: 14.0pt;
}

.anchorPaneStyle1 {
	-fx-background-color: #8f8f8f;
	-fx-border-color: #ebebeb;
}

.tableViewStyle1{
	-fx-font-size: 12.0pt;
}

.tableColumnStyle1{
	-fx-alignment: center;
}

.tabPaneStyle1{
	-fx-tab-min-width:225.0px;
	-fx-tab-min-height:60.0px;
	-fx-tab-max-width:225.0px;
	-fx-tab-max-height:60.0px;
}

.tabPaneStyle2{
	-fx-tab-min-height:60.0px;
	-fx-tab-max-height:60.0px;
	-fx-padding: 20.0px;
}

.tabStyle1{
	-fx-font-size: 12.0pt;
}

.checkBoxStyle1{
	-fx-font-size: 12.0pt;
}

.checkBoxStyle2 {
	-fx-font-size: 12.0pt;
	-fx-min-height: 15.0pt; 
}

.radioButtonStyle1 {
	-fx-font-size: 12.0pt;
}

/*.background {
	-fx-background-color: linear-gradient(#004e99 0.0%, #007eff 100.0%);
}

.title {
    -fx-text-fill: #eff0f1;
	-fx-font-size: 14.0pt;
}

.button {
	-fx-border-color:  #3f97cb;
	-fx-background-color:  #fcfcfc;
	-fx-text-fill:  #6e7275;
	-fx-font-size: 12.0pt;
}

.next {
	-fx-background-color: linear-gradient(#004e99 0.0%, #007eff 100.0%);
	
	-fx-border-color:  #3f97cb;
	-fx-background-color:  #fcfcfc;
	-fx-border-radius:  5.0 5.0 5.0 5.0;
	-fx-text-fill:  #6e7275;

	-fx-background-color:  #ebeced;
	-fx-border-color:  #d1d7dd;
	-fx-text-fill:  #6e7275;
}*/